<div class="bg-gray-200 text-gray-800 my-4 p-4 rounded">
  <h2 class="text-xl font-semibold">{{post.title}}</h2>
  <p class="py-3">{{post.content}}</p>
  <p class="text-gray-500">
    Created by
    <a class="text-green-600 hover:text-green-400" href="/users/{{post.author.id}}">{{post.author.name}}</a>
    on {{formatDate post.createdAt}}
  </p>
</div>